html, body{
    margin: 0;
    height: 100%;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */
.flex{
display: flex;

}
.con{

    height: 100%;
}
.btn{
background-color: #ffffff;
display: inline-block;
padding: 4px;
text-decoration: none;
border-radius: 3.5px;
height: 27px;
}

.btn:hover{

    color: tomato;
}


.sidebar{
  /* pxالعرض هنا يجب ان يكون 120 */

width: 120px0;
background-color:black;
color: white;
}

.header{
    /* pxالطول هنا يجب ان يكون 80 */
    height: 80px;
    background-color: dodgerblue;
}

.main{
background-color: cyan;


}

a{
    text-decoration: none;
    /* اجعل شكل اللنك من غير خط اسفل الكلام */
}
a:hover{
    color: tomato;
}

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */



h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
}

